<div class="jumbrotron">
<center>
<h1>Welcome to Lookout Point Restaurant!</h1>

<img src="http://www.hvantagetechnologies.com/img/industries/restaurant.jpg">
<br>

<%= link_to "Check our our menu!", menus_path, class: "btn btn-default" %>

<%= link_to "See where we are located", locations_path, class: "btn btn-default" %>

</center>

</div>